.article-detail-wrap {
    padding: 10px;
    .article-detail-title {
        margin: 0 0 10px 0;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
    }
    .article-detail-info {
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
        color: #666;
        border-bottom: 1px solid #efefef;
        padding-bottom: 5px;
        span {
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;
        }
    }
    .article-detail-img {
        margin-bottom: 10px;
        img {
            width: 100%;
        }
    }
    .article-detail-content {
        font-size: 14px;
        line-height: 1.65;
        color: #333;
        margin-bottom: 20px;
        p img,
        img {
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }
}
.detail-share {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}
.prev-next {
    font-size: 14px;
    color: #333;
    a {
        color: #666;
        &:hover {
            color: $themeColor;
        }
    }
    div + div {
        margin-top: 10px;
    }
}
