.search-wrap {
    padding: 10px;
    .search-form {
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        input[type='text'] {
            flex: 1;
            border: none;
            outline: none;
            box-sizing: border-box;
            order: 2;
            &::placeholder {
                font-size: inherit;
                color: inherit;
            }
        }
        button[type='submit'] {
            width: 35px;
            border: none;
            outline: none;
            order: 3;
            font-size: 0;
        }
        &.search-border {
            border: 1px solid #efefef;
        }
        &.search-shadow {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }
        &.search-color {
            background: #f6f6f6;
        }
    }
}
